@font-face {
    font-family: 'ts_split_arabic';
    src: url('path/to/ts_split_arabic.ttf') format('truetype'); /* Adjust the path as needed */
}

/* body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
} */